/*================ Quantity Selectors ================*/
.js-qty {
  position: relative;
  margin-bottom: 1em;
  max-width: 100px;
  min-width: 75px;
  overflow: visible;

  input[type="text"] {
    display: block;
    background: none;
    text-align: center;
    width: 100%;
    padding: 5px 25px;
    margin: 0;
  }
}

.js-qty__adjust {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  border: 0 none;
  padding: 0 8px;
  background: none;
  text-align: center;
  overflow: hidden;
  @include prefix('user-select', 'none');
  @include backface(hidden);
  @include transition(all 0.2s ease-out);

  .icon {
    font-size: 8px;
    vertical-align: middle;
  }

  &:hover {
    background-color: $colorDrawerBorder;
  }

  &:active {
    background-color: darken($colorDrawerBorder, 10%);
  }
}

.js-qty__adjust--plus {
  right: 0;
  border-left: 1px solid $colorDrawerBorder;
}

.js-qty__adjust--minus {
  left: 0;
  border-right: 1px solid $colorDrawerBorder;
}

/*================ Quantity Selectors in Ajax Cart ================*/
.ajaxcart__qty {
  @extend .js-qty;
  margin: 0;

  .is-loading & {
    opacity: 0.5;
    @include transition(none);
  }
}

.ajaxcart__qty-num[type="text"] {
  border-color: $colorDrawerBorder;
  color: $colorDrawerText;
}

.ajaxcart__qty-adjust {
  @extend .js-qty__adjust;
  color: $colorDrawerText;

  &:hover {
    background-color: $colorDrawerBorder;
    color: color-control($colorDrawerBorder);
  }

  &:active {
    background-color: darken($colorDrawerBorder, 10%);
    color: color-control($colorDrawerBorder);
  }
}

.ajaxcart__qty--plus {
  @extend .js-qty__adjust--plus;
  border-color: $colorDrawerBorder;
}

.ajaxcart__qty--minus {
  @extend .js-qty__adjust--minus;
  border-color: $colorDrawerBorder;
}