{% include 'shop-nav-mobile', collection: collections['shop'] %}

<div class="o-container u-padTop-x9@mdo u-marBottom-x10">
  <div class="grid">
    {% include 'shop-nav', collection: collections['shop'] %}
    {% include 'shop-products-list', collection: collections['shop'] %}
  </div>
</div>
