<header class="u-textAlign-center u-bgColor-gray u-padTop-x10 u-padBottom-x10">
  <div class="o-container">
    <h1 class="o-heading-normal">{{ page.title }}</h1>
  </div>
</header>

<div class="o-container u-padTop-x7 u-padBottom-x15">
  <div class="grid grid--center">
    <div class="grid__item mdo--eight-twelfths lgo--six-twelfths rte">
      {{ page.content }}
    </div>
  </div>
</div>