<section class="o-bg-cover u-padTop-x20 u-padBottom-x20 u-textAlign-center" style="background-image:url('{{ "contact-hero-bg.jpg" | asset_url }}')">
  <h1 class="o-heading-xlarge u-color-white">Need help?</h1>
  <p class="u-color-white o-heading-small u-marBottom-x3">Feel free to contact us for any matter at <a href="mailto:hello@lommer.gr" class="u-color-white">hello@lommer.gr</a></p>
  <a href="mailto:hello@lommer.gr" class=" o-button o-button--light">CONTACT US</a>
</section>

<div class="o-container u-padTop-x5 u-padBottom-x5">
  <h2 class="u-marBottom-x5 o-heading-normal u-textAlign-center u-color-black">Find a store near you.</h2>
  <div class="grid u-color-black">
    <div class="grid__item four-twelfths u-fontSize-bsm">
      <h3 class="u-marBottom-x2">GREECE</h3>
      <p class="u-color-black u-fontSize-small">ATHENS</p>
      <ul class="u-marBottom o-list-styled u-color-gray u-fontSize-small">
        <li>Benaki Museum’s shop, 138 Pireos &amp; Andronikou St.</li>
        <li>N. Hadjikyriakos-Ghika Gallery’s shop 3 Kriezotou St.</li>
        <li>Hallelujah Studio: 32 Archelaou St, Pagrati, Athens, Greece</li>
        <li>Hallelujah Store: 16 Apollonos St, Syntagma, Athens, Greece</li>
        <li>Needle & Thread - Agioy Georgiou 4, Chalandri</li>
        <li>Polyanthi, Grhgorioy Labraki, Ag. Stefanos</li>
      </ul>
      
      <p class="u-color-black u-fontSize-small">ALEXANDROUPOLI</p>
      <ul class="u-marBottom o-list-styled u-color-gray u-fontSize-small">
        <li>EXCLUSIVE LEATHER, 14IS Maiou 51</li>
      </ul>
      
      <p class="u-color-black u-fontSize-small">IOS ISLAND</p>
      <ul class="u-marBottom o-list-styled u-color-gray u-fontSize-small">
        <li>VOTSALO Chora Iou</li>
      </ul>
      
      <p class="u-color-black u-fontSize-small">LARISA</p>
      <ul class="u-marBottom o-list-styled u-color-gray u-fontSize-small">
        <li>RACHEL Rousvelt 37</li>
      </ul>
      
      <p class="u-color-black u-fontSize-small">SAMOS ISLAND</p>
      <ul class="u-marBottom o-list-styled u-color-gray u-fontSize-small">
        <li>2 THE LITTLE STORE Logotheti Lykourgou, Pythagorio</li>
      </ul>
      
      <p class="u-color-black u-fontSize-small">ADIPAROS ISLAND</p>
      <ul class="u-marBottom o-list-styled u-color-gray u-fontSize-small">
        <li>ODD</li>
      </ul>
    </div>
    
    <div class="grid__item four-twelfths u-fontSize-bsm">
      <h3 class="u-marBottom-x2">SPAIN</h3>
      <p class="u-color-black u-fontSize-small">BARCELONA</p>
      <ul class="u-marBottom o-list-styled u-color-gray u-fontSize-small">
        <li>SANTA TECLA 11 Carrer de Santa Tecla</li>
      </ul>
    </div>
    
    <div class="grid__item four-twelfths u-fontSize-bsm">
      <h3 class="u-marBottom-x2">ONLINE</h3>
      <ul class="u-marBottom o-list-styled u-color-gray u-fontSize-small">
        <li>BENAKI’S MUSEUM ON-LINE SHOP http://benakishop.gr/</li>
        <li>BUY A BOO SHOP https://www.mairiboo.com</li>
        <li>THE STEKI http://www.thesteki.com/</li>
      </ul>
    </div>
  </div>
</div>