<header class="u-textAlign-center o-bg-cover u-padVertical-x22" style="background-image:url({{ 'about-hero.jpg' | asset_url }});">
  <div class="o-container">
    <h1 class="o-heading-normal">We are Lommer</h1>
  </div>
</header>

<div class="o-container u-padTop-x10 u-padBottom-x10">
  <div class="grid grid--center">
    <div class="grid__item mdo--eight-twelfths lgo--six-twelfths u-color-black u-textAlign-center">
      <h2 class="o-heading-normal u-marBottom-x5">Why we design.</h2>
      <p class="u-marBottom-x3">We question everything in our everyday lives. The objects around us, their looks, their functionality, their materials. We believe that there is always a different way to approach everyday things, from the smallest to the biggest. These things have a tremendous impact in our lives. When you start with one simple question, why is this like that and how can it get any better. You immediately begin a journey to make a change in your life.</p>
      <p class="u-marBottom-x3">We believe in people who are uncompromised with what is already out there. People who are constantly in search for new approaches in their problems.</p>
      <p>We are Danai and Alkioni. We are Lommer. Join us.</p>
    </div>
  </div>
</div>

<div class="u-textAlign-center o-heading-normal o-bg-cover u-padVertical-x22" style="background-image:url({{ 'about-lab.jpg' | asset_url }});">
  <blockquote class="u-color-white o-container">
    <p class="o-heading-normal">“There is no design without discipline. <br> There is no discipline without intelligence.”</p>
    <span class="u-fontSize-base">Massimo Vignelli</span>
  </blockquote>
</div>