<section class="o-bg-cover u-padTop-x20 u-padBottom-x20 u-textAlign-center" style="background-image:url('{{ "contact-hero-bg.jpg" | asset_url }}')">
  <h1 class="o-heading-xlarge u-color-white">Become an official Lommer reseller</h1>
  <p class="u-color-white o-heading-small u-marBottom-x3">Contact us at <a href="mailto:hello@lommer.gr" class="u-color-white">hello@lommer.gr</a> with details about your shop and we will get back to you.</p>
  <a href="mailto:hello@lommer.gr" class=" o-button o-button--light">CONTACT NOW</a>
</section>
