/*================ Module | Site Nav and Dropdowns ================*/
.site-nav {
  cursor: default;
  margin: 0;
  margin-left: -$gutter / 2;
}

.site-nav__item {
  position: relative;
  display: inline-block;
  margin: 0;

  li {
    display: block;
  }
}

.site-nav--mobile {
  @extend .site-nav;
  margin-left: -10px;

  &.text-right {
    margin: 0 -10px 0 0;
  }
}

.site-nav__link {
  display: inline-block;
  text-decoration: none;
  padding: $gutter / 2;
  white-space: nowrap;
  color: $colorNavText;
  font-size: em(14px);

  .icon-arrow-down {
    position: relative;
    top: -2px;
    padding-left: $gutter / 4;
    font-size: 10px;
  }
}

.site-nav__link--icon {
  padding-left: $gutter / 4;
  padding-right: $gutter / 4;
}

.site-nav--mobile {
  .site-nav__link {
    display: inline-block;
  }

  .icon {
    font-size: em(30px);
  }
}

/*================ Dropdowns ================*/
.site-nav__dropdown {
  display: none;
  position: absolute;
  left: 0;
  margin: 0;
  z-index: $zindexNavDropdowns;

  .supports-no-touch .site-nav--has-dropdown:hover &,
  .site-nav--has-dropdown.nav-hover &,
  .nav-focus + & {
    display: block;
  }

  a {
    background-color: $colorNav;

    &:hover,
    &:active {
      background-color: darken($colorNav, 10%);
    }
  }
}

