<div class="u-bgColor-gray u-padTop-x4 u-padBottom-x4">
  <div class="o-container">
    <div class="grid grid--center">
      <div class="grid__item lgo--ten-twelfths">
        
        <div class="grid u-fontSize-small">
        {% if product == 'evatwo' %}
          
            <div class="grid__item six-twelfths mdo--three-twelfths">
              <strong class="u-color-black">DETAILS</strong>
              <ul>
                <li>- E.V.A. Material</li>
                <li>- Brass metallic buttons</li>
                <li>- Seatbealt strap</li>
              </ul>
            </div>
            <div class="grid__item six-twelfths mdo--three-twelfths push--mdo--one-twelfth">
              <strong class="u-color-black">DIMENSIONS</strong>
              <p>
                As a bag 30cm (H) x 36-45 (W) x 12cm (D), 400g <br>
                Packaged <br>
                15cm (H) x 63 (W) x 13cm (D), 1kg
              </p>
            </div>
            <div class="grid__item six mdo--three-twelfths push--mdo--two-twelfths">
              <strong class="u-color-black">SHIPPING</strong>
              <p>
                Shipping Worldwide <br>
                Free standard shipping on all orders of 150€ or more <br><br>
                Standard delivery 3-12 business days<br>
                Express delivery 2 business days, only within Greece<br>
              </p>
            </div>
          
          
        {% elsif product == 'evapack' %}
          
          
            <div class="grid__item six-twelfths mdo--three-twelfths">
              <strong class="u-color-black">DETAILS</strong>
              <ul>
                <li>- E.V.A. Material</li>
                <li>- Brass metallic grommets</li>
                <li>- One piece of soft sailing rope, comes in 11 colors</li>
              </ul>
            </div>
            <div class="grid__item six-twelfths mdo--three-twelfths push--mdo--one-twelfth">
              <strong class="u-color-black">DIMENSIONS</strong>
              <p>
                MEDIUM <br>
                31cm (H) x 25 (W) x 12cm (D), 400g<br>
                Packaged:1kg <br><br>
                LARGE <br>
                36cm (H) x 27 (W) x 14cm (D), 400g<br>
                Packaged:1kg
              </p>
            </div>
            <div class="grid__item six mdo--three-twelfths push--mdo--two-twelfths">
              <strong class="u-color-black">SHIPPING</strong>
              <p>
                Shipping Worldwide <br>
                Free standard shipping on all orders of 150€ or more <br><br>
                Standard delivery 3-12 business days<br>
                Express delivery 2 business days, only within Greece<br>
              </p>
            </div>
          
        {% elsif product == 'evaclutch' %}
          
             <div class="grid__item six-twelfths mdo--three-twelfths">
              <strong class="u-color-black">DETAILS</strong>
              <ul>
                <li>- E.V.A. Material</li>
                <li>- Brass metallic buttons</li>
              </ul>
            </div>
            <div class="grid__item six-twelfths mdo--three-twelfths push--mdo--one-twelfth">
              <strong class="u-color-black">DIMENSIONS</strong>
              <p>
                LID H <br>
                40.5cm (L) x 6.5 (D) x 15cm (H), 150g<br>
                LID S<br>
                39cm (L) x 6.5 (D) x 15cm (H), 150g <br>
                LID T<br>
                38cm (L) x 6.5 (D) x 15cm (H), 150<br>
                Packaged:300g
              </p>
            </div>
            <div class="grid__item six mdo--three-twelfths push--mdo--two-twelfths">
              <strong class="u-color-black">SHIPPING</strong>
              <p>
                Shipping Worldwide <br>
                Free standard shipping on all orders of 150€ or more <br><br>
                Standard delivery 3-12 business days<br>
                Express delivery 2 business days, only within Greece<br>
              </p>
            </div>
          
        {% elsif product == 'evaclutch-small' %}
          
             <div class="grid__item six-twelfths mdo--three-twelfths">
              <strong class="u-color-black">DETAILS</strong>
              <ul>
                <li>- E.V.A. Material</li>
                <li>- Brass metallic buttons</li>
              </ul>
            </div>
            <div class="grid__item six-twelfths mdo--three-twelfths push--mdo--one-twelfth">
              <strong class="u-color-black">DIMENSIONS</strong>
              <p>
                LID I <br>
                30.5cm (L) x 5 (D) x 12cm (H), 100g<br>
                LID S<br>
                30.5cm (L) x 5 (D) x 12cm (H), 100g <br>
                Packaged:200g
              </p>
            </div>
            <div class="grid__item six mdo--three-twelfths push--mdo--two-twelfths">
              <strong class="u-color-black">SHIPPING</strong>
              <p>
                Shipping Worldwide <br>
                Free standard shipping on all orders of 150€ or more <br><br>
                Standard delivery 3-12 business days<br>
                Express delivery 2 business days, only within Greece<br>
              </p>
            </div>
          
        {% elsif product == 'evamini' %}
          
          <div class="grid__item six-twelfths mdo--three-twelfths">
              <strong class="u-color-black">DETAILS</strong>
              <ul>
                <li>- E.V.A. Material</li>
                <li>- Brass metallic buttons</li>
              </ul>
            </div>
            <div class="grid__item six-twelfths mdo--three-twelfths push--mdo--one-twelfth">
              <strong class="u-color-black">DIMENSIONS</strong>
              <p>
                11cm (H) x 20 (W) x 2cm (D), 75g<br>
                Packaged:150g
              </p>
            </div>
            <div class="grid__item six mdo--three-twelfths push--mdo--two-twelfths">
              <strong class="u-color-black">SHIPPING</strong>
              <p>
                Shipping Worldwide <br>
                Free standard shipping on all orders of 150€ or more <br><br>
                Standard delivery 3-12 business days<br>
                Express delivery 2 business days, only within Greece<br>
              </p>
            </div>
          
        {% endif %}
        
        </div>

      </div>
    </div>
  </div>
</div>