{% if product == 'evamini' %}
  
  {% assign feature2_bg = 'product-evamini-feature2.jpg' | asset_url %}
  {% assign feature2_title = "A special little place for small precious things." %}
  {% assign feature2_text = "A clutch wallet for your most valuable stuff, matching perfectly with any of our EVA bags." %}

{% elsif product == 'evatwo' %}
  {% assign feature2_bg = 'product-evatwo-feature2.jpg' | asset_url %}
  {% assign feature2_title = "Custom - made material." %}
  {% assign feature2_text = "Excusively designed Antistatic E.V.A ™ material to ensure the maximum durability, strenght and waterproofness." %}

{% elsif product == 'evapack' %}
  
  {% assign feature2_bg = 'product-evapack-feature2.jpg' | asset_url %}
  {% assign feature2_title = "Custom - made material." %}
  {% assign feature2_text = "Excusively designed Antistatic E.V.A ™ material to ensure the maximum durability, strenght and waterproofness." %}

{% elsif product == 'evaclutch-one' %}

  {% assign feature2_bg = 'product-evaclutchone-feature2.jpg' | asset_url %}
  {% assign feature2_title = "Custom - made material." %}
  {% assign feature2_text = "Excusively designed Antistatic E.V.A ™ material to ensure the maximum durability, strenght and waterproofness." %}

{% elsif product == 'product-evaclutchtwo-feature2' %}
  
  {% assign feature2_bg = 'evaclutch-two.jpg' | asset_url %}
  {% assign feature2_title = "Custom - made material." %}
  {% assign feature2_text = "Excusively designed Antistatic E.V.A ™ material to ensure the maximum durability, strenght and waterproofness." %}
  
{% endif %}


<div class="grid__item six-twelfths o-bg-cover" style="background-image:url({{ feature2_bg }});padding:460px 30px 40px 30px">
  <h2 class="o-heading-normal u-marBottom u-color-white u-fontWeight-medium">{{ feature2_title }}</h2>
  <p class="u-color-white">{{ feature2_text }}</p>
</div>