// Border size
$borderWidthHeader: 1px;


// Sizing variables
$gutter: 24px;
$gridGutter: 24px; // can be a %, but nested grids will have smaller margins because of it
$contentTopMargin: 80px;
$contentTopMarginSmall: 35px;
$radius: 0;
$customSelectHeight: 46px;

// Logo size
$logoMaxWidth: 126px;
